@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #292929;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #292929;
    position: relative;
}

.container {
    max-width: 1310px;
    padding: 0 10px;
    margin: auto;
    position: relative;
}

.header  {
    height: 100vh;
    margin: auto;
    padding-top: 30px;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__list {
    width: 545px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #060606;
    font-size: 18px;
}

.nav__list li {
    transition: 0.3s;
}

.nav__list li:hover {
    transform: translateY(5px);
}

.nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 50px;
    font-size: 14px;
    color: #1B5027;
    border: 1px solid #1B5027;
    border-radius: 5px;
    transition: 0.3s;
}

.nav__btn::after {
    content: '';
    width: 22px;
    height: 5px;
    margin-left: 11px;
    background: url('../img/btn_icon.svg') no-repeat;
}

.nav__btn:hover {
    background-color: #1B5027;
    color: #fff;
}

.header__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.h-content__title {
    max-width: 700px;
}

.h-content__title h1 {
    padding-top: 170px;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #121212;
    margin-bottom: 30px;
}


.h-content__title p {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #060606;
}

.h-content__title a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 80px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    background: #1B5027;
    border-radius: 10px;
    transition: 0.2s;
}

.h-content__title a::after {
    content: '';
    width: 43px;
    height: 15px;
    margin-top: 5px;
    margin-left: 20px;
    background: url('../img/btn_icon1.svg') no-repeat;
    background-position: 50%;
}

.h-content__title a:hover {
    box-shadow: -5px -5px 10px #ccc;
    transform: translate(2px, 2px);
}

.h-content__play a img:active {
    transform: scale(0.95);
}


.h-content__play {
    display: flex;
    align-items: center;
    width: 350px;
    height: 80px;
    margin-top: 40px;
}
.h-content__play p {
    font-size: 20px;
    line-height: 23px;
    color: #2E2E2E;
}   

.h-content__play img {
    margin-right: 20px;
}


.up__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    background: #1B5027;
    border-radius: 10px 0px 0px 10px;
}

/* MAIN CONTENT ==========================================
-=========================================================== */


.main__content1 {
    margin-top: 180px;
}

.main__content1 h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #343434;
    margin-bottom: 55px;
}

.project__item {
    display: inline-block;
    width: 410px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #D9D9D9;
    transition: 0.3s;
}

.project__item>img {
    width: 100%;
}

.project__item:hover {
    box-shadow: 5px 5px 10px #a7a7a7;
    transform: scale(1.01);
}

.project__item .item__title {
    padding: 20px 20px 15px;
    color: #262626;
}

.item__title span {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 3px;
}

.item__title h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}


.project__item .line {
    width: 50px;
    height: 2px;
    background-color: #1B5027;
}

.content__project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, auto));
    justify-content: center;
    gap: 30px;
}

.item__info {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 30px;
}

.i-info {
    display: flex;
    align-items: flex-start;
    color: #000000;
}

.i-info img {
    width: 20px;
    margin-right: 11px;
}

.i-info p {
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
}

.i-info p span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.all__project {
    text-align: center;
}

.project__link {
    display: inline-block;
    margin-top: 30px;
    padding-right: 40px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #1B5027;
}

.project__link::after {
    display: inline-block;
    content: '';
    width: 43px;
    height: 15px;
    margin-left: 20px;
    background: url('../img/project__link.svg') no-repeat;
    background-position: 50%;
}

/* main__content2 ========== */

.main__content2 {
    max-width: 1440px;
    margin: auto;
    min-height: 555px;
    margin-top: 175px;
    background: url('../img/background__main.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: #393939;
}

.content2__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content2__title {
    margin-top: 35px;
    max-width: 490px;
}

.content2__title h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 15px;
}

.content2__title p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #060606;
}

.content2__form {
    margin-top: 75px;
    margin-right: 110px;
    padding: 30px;
    width: 410px;
    max-height: 425px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.c2__form__title {
    max-width: 310px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 22px;
}

.content2__form input, button {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    border: 1.5px solid #000000;
    border-radius: 10px;
    padding: 25px 20px 25px 40px;
    margin-bottom: 10px;
    outline: none;
}

.content2__form input {
    font-size: 16px;
    line-height: 19px;
    color: #6B6B6B;
}

.content2__form input:first-of-type {
    background: url('../img/user_icon.svg');
    background-position: 6% 48%;
    background-repeat: no-repeat;
}

.content2__form input:last-of-type {
    background: url('../img/telephone_icon.svg');
    background-position: 6% 50%;
    background-repeat: no-repeat;
}

.content2__form button {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;  
    color: #FFFFFF;
    background: #1B5027;
    border: none;
    cursor: pointer;
    padding: 25px 20px;
}

.content2__form p {
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px; 
    color: #000000;
}

.content2__form p a {
    text-decoration-line: underline;
    color: #1B5027;
}



@media (max-width: 1100px) {
    .project__item {
        display: inline-block;
        width: 354px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #D9D9D9;
        transition: 0.3s;
    }

    .project__item>img {
        width: 100%;
    }

    .content__project {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(354px, auto));
        justify-content: center;
        gap: 20px;
    }

    
    .content2__content {
        justify-content: center;
    }

    .main__content2 {
        min-height: 800px;
    }

    .content2__title {
        margin-right: 60px;
    }

}


@media (max-width: 768px) {

    .h-content__title {
        max-width: 300px;
    }

    .h-content__title h1 {
        font-size: 27.3504px;
        line-height: 32px;
    }

    .h-content__title p {
        font-size: 12.3288px;
        line-height: 14px;
    }

    .h-content__title a {
        font-size: 16.0976px;
        line-height: 19px;
        max-width: 300px;
    }

    .project__item {
        display: inline-block;
        width: 248px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #D9D9D9;
        transition: 0.3s;
    }

    .project__item>img {
        width: 100%;
    }

    .content__project {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(248px, auto));
        justify-content: center;
        gap: 20px;
    }

    .project__item .item__title {
        padding: 10px 15px 10px;
    }

    .item__title h3 {
        font-weight: 500;
        font-size: 22.4181px;
        line-height: 26px;
    }

    .item__title span {
        font-weight: 300;
        font-size: 11.209px;
        line-height: 13px;
    }

    .i-info p {
        font-weight: 200;
        font-size: 8.40678px;
        line-height: 10px;
        color: #000000;
    }

    .i-info p span {
        font-weight: 400;
        font-size: 9.80791px;
        line-height: 12px;
        color: #000000;
    }

    .i-info img {
        width: 14px;
        margin-right: 5px;
    }

    /* main__content2 ====================== */

    .main__content2 {
        margin-top: 130px;
    }

    .content2__title {
        margin-right: 0;
    }

    .content2__form {
        margin-right: 0;
    }

    .content2__title h2 {
        font-size: 35px;
        line-height: 34px;
    }

    .content2__title p {
        font-size: 20px;
        line-height: 17px;
    }
}

@media (max-width: 390px) {

    .main__content2 {
        min-height: 580px;
        background-size: 850px;
    }

    .content2__title h2 {
        font-size: 29.2683px;
        line-height: 34px;
    }

    .content2__title p {
        font-size: 14.6341px;
        line-height: 17px;
    }

    .c2__form__title {
        font-size: 20.4878px;
        line-height: 24px;
    }
    
    .content2__form input, button {
        border: 0.731707px solid #000000;
        border-radius: 7.31707px;
        padding: 18px 15px 18px 40px;
        font-size: 11.7073px;
        line-height: 14px;
    }

    .content2__form button {
        padding: 18px 15px;
        font-size: 13.1707px;
        line-height: 15px;
    }
}



